@{
    ViewData["Title"] = "Party Invites App";
}

<div class="text-center">
    <h3>
        @ViewBag.Greeting
        <br /><br />
        <a class="btn btn-primary" asp-action="RsvpForm">RSVP now</a>
    </h3>
</div>
<hr />
<footer>Made by Paras Singh</footer>